
<section class="section">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores aut consequatur culpa cum
    dolorum eaque earum, facilis fugiat hic, illo itaque libero minus modi neque nesciunt non obcaecati
    odio odit praesentium quas, quo rem repellat reprehenderit soluta totam ullam.
  </p>
</section>
  <div class="section">
    <article>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium amet aspernatur cum dolore
        doloremque dolorum eos esse harum itaque labore neque nisi nobis non nostrum officia omnis placeat quod sit,
        soluta tenetur ut vel veniam voluptatem voluptatum. Amet animi corporis facilis harum non qui, ratione sequi
        suscipit. Aliquam amet architecto, aut dolore dolores error harum impedit, labore libero odio perspiciatis
        porro praesentium provident quaerat, vel. Impedit magni quidem reprehenderit unde voluptatibus. Accusamus,
        ad aliquam asperiores assumenda dolorum esse hic minima molestiae molestias nostrum nulla praesentium
        repudiandae unde vel veniam.</p>
    </article>
    <article>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium amet aspernatur cum dolore
        doloremque dolorum eos esse harum itaque labore neque nisi nobis non nostrum officia omnis placeat quod sit,
        soluta tenetur ut vel veniam voluptatem voluptatum. Amet animi corporis facilis harum non qui, ratione sequi
        suscipit. Aliquam amet architecto, aut dolore dolores error harum impedit, labore libero odio perspiciatis
        porro praesentium provident quaerat, vel. Impedit magni quidem reprehenderit unde voluptatibus. Accusamus,
        ad aliquam asperiores assumenda dolorum esse hic minima molestiae molestias nostrum nulla praesentium
        repudiandae unde vel veniam.</p>
    </article>
  </div>
