<div class="section-container">
  <aside class="section-sidebar">
    <nav class="section-nav">
      <ul class="section-nav__list">
        <li class="section-nav__item"><a routerLink="/elections/positions" class="section-nav__link">Positions</a></li>
        <li class="section-nav__item"><a routerLink="/elections/candidates" class="section-nav__link">Candidates</a></li>
        <li class="section-nav__item"><a routerLink="/elections/voters" class="section-nav__link">Voters</a></li>
        <li class="section-nav__item"><a routerLink="/elections/reports" class="section-nav__link">Election Reports</a></li>
      </ul>
    </nav>
  </aside>

  <div class="section-content">
    <router-outlet></router-outlet>
  </div>
</div>
