<aside class="menu">
  <p class="menu-label">
    Administrator
  </p>
  <ul class="menu-list">
    <li><a>Dashboard</a></li>
    <li><a>Customers</a></li>
  </ul>
  <p class="menu-label">
    School Setting
  </p>
  <ul class="menu-list">
    <li><a routerLink="/admins/school/new">Create School</a></li>
    <li><a routerLink="/admins/school">School Info</a></li>
    <li><a routerLink="/admins/school/departments">Departments</a></li>
    <li><a routerLink="/admins/school/rooms">Classes</a></li>
    <li><a routerLink="/admins/school/calender">Academic calender</a></li>
    <li><a routerLink="/admins/school/students">Students</a></li>
    <li>
      <ul>
        <li><a routerLink="/admins/school/students/new">New student</a></li>
        <li><a routerLink="/admins/school/students/add-multiple">Import students</a></li>
        <!-- <li><a routerLink="/admins/school/students/"></a></li> -->
        <!-- <li><a routerLink="/admins/school/students">Stud/ents</a></li> -->
      </ul>
    </li>
    <li><a routerLink="/admins/users">Users</a></li>
  </ul>
  <p class="menu-label">
    Prefectorial Board
  </p>
  <ul class="menu-list">
    <li><a routerLink="/admins/elections">Elections</a></li>
    <li><a routerLink="/admins/elections/positions">Positions</a></li>
    <li><a routerLink="/admins/elections/candidates">Candiates</a></li>
    <li><a routerLink="/admins/elections/voters">Voters</a></li>
    <li><a routerLink="/admins/elections/reports">Election Results</a></li>
  </ul>
  <p class="menu-label">
    Transactions
  </p>
  <ul class="menu-list">
    <li><a>Payments</a></li>
    <li><a>Transfers</a></li>
    <li><a>Balance</a></li>
  </ul>
</aside>
hdhhdgdhfd
